<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Latest compiled and minified CSS -->
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"></script>

   <title>Document</title>
   <style>
      .widthchange{
         width:50%;
      }
   </style>

</head>

<body>
   <!-- <div class="container">
      <div class="row">
         <div class="col-md-4 mx-auto">
            <div class="myform form ">
               <form onsubmit="signupUser(event)">
                  <div class="form-group">
                     <input type="text" name="first_name" class="form-control my-input" id="first_name"
                        placeholder="first_name">
                  </div>
                  <div class="form-group">
                     <input type="text" name="last_name" class="form-control my-input" id="last_name"
                        placeholder="last_name">
                  </div>
                  <div class="form-group">
                     <input type="email" name="email" id="email" class="form-control my-input" placeholder="email">
                  </div>
                  <div class="text-center ">
                     <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div> -->
   <div style="width:80%; margin:auto; margin-top:50px;">
      <form onsubmit="signupUser(event)">
         <div class="mb-3">
            <label class="form-label" for="first_name">First Name</label>
            <input type="text" class="form-control widthchange" id="first_name">
         </div>
         <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control widthchange" id="last_name">
         </div>
         <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control widthchange" id="email">
         </div>
   
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </div>
   

</body>




<script>

   async function signupUser(e) {

      e.preventDefault();

      let fName = document.getElementById("first_name").value.trim();
      let lName = document.getElementById("last_name").value.trim();
      let email = document.getElementById("email").value.trim();

      if (fName === '' || lName === '') {

         alert("Kindly fill up the details properly")
      }
      else {

         let json = JSON.stringify(
            {
               first_name: fName,
               last_name: lName,
               email: email,
            }
         )

         let res = await fetch("http://localhost:2364/users", (
            {
               method: "POST",
               headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
               },
               body: json
            }
         ));

         res = await res.json();

         console.log(res);

         if (res) {

            alert("You are registerd, please check your email")

            window.location.href = "http://localhost:2364/landingpage"
         }
      }

   }
</script>

</html>