<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <form action="/products/single" method="POST" class="m-5" style="width: 500px;" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                placeholder="Enter title" name="title" value="">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                placeholder="Enter price" name="price" value="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload file</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="productImages">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>